body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/landing_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.atas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    margin-left: 12em;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    margin-top: 10px; 
    color: white;
    margin-left: 25em;
}

.menu_1 {
    padding-right: 0; 
    padding-bottom: 5px; 
    font-size: x-large;
    cursor: pointer;
}

.menu_2 {
    font-size: x-large;
    cursor: pointer;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px; 
}

.content_title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
}

.content_desc {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.register {
    width: 100%;
    max-width: 280px;
    height: 3em;
    background-color: green;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 22px;
}

@media only screen and (min-width: 600px) {
    .atas {
        flex-direction: row;
    }

    .navbar {
        flex-direction: row;
    }

    .menu_1 {
        padding-right: 5em;
        padding-bottom: 0;
    }

    .content_title {
        font-size: 120px;
    }

    .content_desc {
        font-size: 30px;
        width: 20em;
    }
}
