*{
    margin: 0; padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.containerForm {
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5em;
    background-color: rgba(247, 247, 247, 0.89);
}

.formImage{
    background-image: url(/bg_signUp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30em;
    height: 36em;
    border-radius: 50px;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
}

.inputForm{
    width: 370px;
    height: 50px;
    padding: 0em 1em;
    border: 0;
    background-color: #D9D9D9;
    color: black;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 25px;
    margin-right: 30px;
}

.header{
    text-align: center;
    margin: 0;
}

.logo{
    width: 150px;
    height: 120px;
    margin: 0;
    padding: 0;
}

.header2{
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
}

.header3{
    font-weight: 1000;
    font-size: 15px;
    text-align: center;
}

.button{
    margin-top: 25px;
    width: 400px;
    height: 50px;
    border-radius: 25em;
    border: 0;
    background-color: red;
    color: white;
    font-weight: bold;
    justify-content: center;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

button:is(:hover, :focus) {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}