<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat&family=Poppins:ital,wght@0,100;0,300;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Login.css">
</head>
<body>
    <div id="formSignUp">   
        <div class="containerForm">
            <div class="col">
                <div class="formImage"></div>
            </div>
            <div class="content">
                <div class="header">
                    <img class="logo" src="/logo.png" alt="">
                    <div class="header2">Register</div>
                    <div class="header3">Create your new account</div>
                </div>
                <form action="/signup" method="post" onsubmit="submitForm(event)">
                    <div>
                        <input class="inputForm" type="text" placeholder="Nama" name="nama" value="" required>
                    </div>
                    <div>
                        <input class="inputForm" type="text" placeholder="E-mail" name="email" value="" required>
                    </div>
                    <div id="emailWarning" style="display: none; color: red;">Email must contain "@" symbol</div>
                    <div>
                        <input class="inputForm" type="password" placeholder="Password (Min. 8 Character)" name="password" value="" required id="passwordInput">
                        <span id="passwordWarning" class="warning-sign"></span>
                    </div>
                    <div>
                        <button class="button" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function submitForm(event) {
            fetch('/signUp')
            .then(response => response.text())
            .then(data => {
                const container = document.getElementById('container');
                container.innerHTML = data;
            })
            .catch(error => {
                console.log('Error:', error);
            });

            event.preventDefault();
        
            const passwordInput = document.getElementById('passwordInput');
            const passwordWarning = document.getElementById('passwordWarning');
            const signUpButton = document.querySelector('.button');
        
            const emailInput = document.querySelector('input[name="email"]');
            const emailWarning = document.getElementById('emailWarning');
        
            let isValid = true;
        
            if (passwordInput.value.length < 8) {
                passwordInput.classList.add('invalid');
                passwordWarning.style.visibility = 'visible';
                signUpButton.classList.add('shake-animation');
                isValid = false;
        
                signUpButton.addEventListener('animationend', function () {
                    signUpButton.classList.remove('shake-animation');
                });
            } else {
                passwordInput.classList.remove('invalid');
                passwordWarning.style.visibility = 'hidden';
            }
        
            if (!emailInput.value.includes('@')) {
                emailWarning.style.display = 'block';
                isValid = false;
            } else {
                emailWarning.style.display = 'none';
            }
        
            if (isValid) {
                event.target.submit();
            }
        }
    </script>

    <style>
        .shake-animation {
            animation: shake 0.5s ease-in-out;
        }

        @keyframes shake {
            0%,
            100% {
                transform: translateX(0);
            }
            10%,
            30%,
            50%,
            70%,
            90% {
                transform: translateX(-5px);
            }
            20%,
            40%,
            60%,
            80% {
                transform: translateX(5px);
            }
        }
    </style>
</body>
</html>