<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat&family=Poppins:ital,wght@0,100;0,300;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/LandingPage.css">
</head>
<body>
    <div class="atas">
        <div class="navbar">
            <div class="logo">
                <img src="/logo_putih.png" alt="" style="width: 150px;">
            </div>
            <div class="menu">
                <div class="menu_1" onclick="javascript:location.href= '/signup'">Sign Up</div>
                <div class="menu_2" onclick="javascript:location.href= '/login'">Login</div>
            </div>
        </div>
        <div class="content">
            <div class="content_title">
                Grow With Us In Your
            </div>
            <div class="content_title2">
                <div class="red-text">"Own" </div>
                Zone
            </div>
            <div class="content_desc">
                We are the best private gym in town
            </div>
            <div class="content_desc2">
                Let's build your body strong.
            </div>
            <button class="register" onclick="javascript:location.href= '/signup'">REGISTER NOW</button>
        </div>
    </div>
</body>
</html>