<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="/Membership.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="atas">
        <div class="navbar">
            <div class="logo">
                <img src="/logo_putih.png" alt="" style="width: 250px;">
                <div class="nama">Hello, <%= namaMember %> <%- isMembership === 0 ? '' : '<img src="/membership.png" alt="Membership Image" />' %> </div>
            </div>
            <div class="menu">
                <div class="menu_1" onclick="javascript:location.href= '/mainpage'">Home</div>
                <div class="menu_1" style="color: red;" onclick="javascript:location.href= '/membership'">Membership</div>
                <div class="menu_1" onclick="javascript:location.href= '/aboutus'">About Us</div>
                <div class="logout" onclick="confirmLogout()"><img src="/logout.png" alt="" style="width: 60px;"></div>
            </div>
        </div>
        <div class="container_kanan_kiri">
            <div class="kanan">
                <div class="tulis_besar">Join Our Membership Today
                    for only 10 points/Month</div>
                <div class="tulis_kecil">+ Free Gainer drink for 3 visits</div>
                <div class="tulis_kecil">+ Free Personal Trainers for 1 visit</div>
                <div class="button_join_now">
                    <button class="join_now" onclick="confirmJoin()">JOIN NOW</button>
                </div>
            </div>
            <div class="kiri">
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function confirmLogout() {
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Log Out!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/logout';
                }
            });
        }

        function confirmJoin() {
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Join Membership'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: `Thankyou for choosing us!`,
                    }).then((result) => {
                        window.location.href = '/memberships';
                    });
                }
            });
        }
    </script>
</body>
</html>