<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat&family=Poppins:ital,wght@0,100;0,300;0,700;1,700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="/Login.css">
</head>
<body>
    <div id="formSignUp">   
        <div class="containerForm">
            <div class="col">
                <div class="formImage"></div>
            </div>
            <div class="content">
                <div class="header">
                    <img class="logo" src="/logo.png" alt="">
                    <div class="header2">Register</div>
                    <div class="header3">Create your new account</div>
                </div>
                <form action="/signup" method="post" onsubmit="submitForm(event)">
                    <div>
                        <input class="inputForm" type="text" placeholder="Enter your name" name="nama" value="" required>
                    </div>
                    <div>
                        <input class="inputForm" type="text" placeholder="Enter your E-mail" name="email" value="" required>
                    </div>
                    <div id="emailWarning" style="display: none; color: red;"></div>
                    <div>
                        <input class="inputForm" type="password" placeholder="Password (Min. 8 Character)" name="password" value="" required id="passwordInput">
                    </div>
                    <div id="passwordWarning" style="display: none; color: red;"></div>
                    <div>
                        <button class="button" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function submitForm(event) {
            event.preventDefault();
        
            const passwordInput = document.querySelector('input[name="password"]');
            const passwordWarning = document.getElementById('passwordWarning');
            const emailInput = document.querySelector('input[name="email"]');
            const emailWarning = document.getElementById('emailWarning');
            const signUpButton = document.querySelector('.button');
        
            let isValid = true;
        
            if (passwordInput.value.length < 8) {
                passwordWarning.style.display = 'block';
                signUpButton.classList.add('shake-animation');
                isValid = false;

                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Password must contain at least 8 characters',
                });
            } else {
                passwordWarning.style.display = 'none';
            }
        
            if (!emailInput.value.includes('@')) {
                emailWarning.style.display = 'block';
                isValid = false;

                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Email must contain "@" symbol',
                });
            } else {
                emailWarning.style.display = 'none';
            }

            signUpButton.addEventListener('animationend', function () {
                signUpButton.classList.remove('shake-animation');
            });
        
            if (isValid) {
                fetch('/signup', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        nama: document.querySelector('input[name="nama"]').value,
                        email: emailInput.value,
                        password: passwordInput.value,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: `${data.error}`,
                        });
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: `Account Created`,
                        }).then(() => {
                            window.location.href = "/login";
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
</body>
</html>