body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    display: flex;
    font-size: 2vw; 
    color: white;
}

.logo {
    padding-right: 10vw;
    padding-left: 1vw;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nama {
    font-size: 2vw; 
}

.menu_1 {
    padding-right: 2vw; 
}

.atas {
    min-height: 1080px;
    width: auto;
    background-image: url("/gambar membership.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 4vw;
    padding-right: 4vw;
}

.container_kanan_kiri {
    display: flex;
    flex-direction: row;
    margin-top: 10em;
    margin-left: 10em;
}

.kiri {
    width: 960px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}


.tulis_besar {
    color: white;
    margin-bottom: 0.5em;
    font-size: 3em;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
}

.tulis_kecil {
    color: white;
    font-size: 1.75em;
    margin-bottom: 1em;
}

.join_now {
    background-color: #1A6A27;
    color: white;
    font-size: 2em;
    margin-top: 0.5em;
    width: 285px;
    height: 85px;
    border-radius: 30px;
    border: none;
}

.menu, .join_now{
    cursor: pointer;
}

button:is(:hover, :focus) {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}